<mat-list class="mat-header-01">
	<div class="align-well">
		<p>username</p>
	</div>
	<div class="text-align-center">
		<div class="put-center">
			<mat-icon style="font-size: 100px !important; margin: 0; padding: 0;">
				account_circle
			</mat-icon>
		</div>	
	</div>
</mat-list>
<mat-tab-group color="accent" backgroundColor="primary">
	<mat-tab label="BIO">
		<mat-list>
			<div class="icon-v">
				<mat-icon >credit_card</mat-icon>
			</div>
			<div class="align-well-more">
				<p style="font-weight: 500; font-size: 14px;">04/2017/1977D</p>

				<p style="font-size: 11px; font-weight: 400; color: #aaa;">STUDENT ID</p>
			</div>
		</mat-list>
		<mat-divider></mat-divider>
		<mat-list>
			<div class="icon-v">
				<mat-icon >account_box</mat-icon>
			</div>
			<div class="align-well-more">
				<p style="font-weight: 500; font-size: 14px;">Bright Amegbor</p>

				<p style="font-size: 11px; font-weight: 400; color: #aaa;">NAME</p>
			</div>
			<h2></h2>
			<h2></h2>
			<div class="align-well-more">
				<p style="font-weight: 500; font-size: 14px;">Male</p>

				<p style="font-size: 11px; font-weight: 400; color: #aaa;">GENDER</p>
			</div>
		</mat-list>
		<mat-divider></mat-divider>
		<mat-list>
			<div class="icon-v">
				<mat-icon >email</mat-icon>
			</div>
			<div class="align-well-more">
				<p style="font-weight: 500; font-size: 14px;">brytamegbor@gmail.com</p>

				<p style="font-size: 11px; font-weight: 400; color: #aaa;">EMAIL</p>
			</div>
		</mat-list>
	</mat-tab>

	<mat-tab label="PROGRAMME">
	</mat-tab>
</mat-tab-group>