<div class="caro-card">
	<img class="header-image" src="assets/img/reg.jpg" alt="header">
</div>


<mat-card class="caro-card">
	<mat-grid-list cols="3" rowHeight="1:1">

	  <mat-grid-tile>
	  	<mat-list>
  			<mat-list-item>
  				<a routerLink="/profile"><img class="svgico" src="assets/img/svg/usericon.png" alt="image"></a>
  			</mat-list-item>
  			<mat-list-item>
  				<a routerLink="/profile"> Profile </a>
  			</mat-list-item>
		</mat-list>
	  	
	  </mat-grid-tile>

	  <mat-grid-tile>
	  	<mat-list>
	  		<mat-list-item>
  				<a routerLink="/registration">
  					<img class="svgico" src="assets/img/svg/register.png" alt="image">
  				</a>
  			</mat-list-item>
  			<mat-list-item>
  				<a routerLink="/registration"> Registration </a>
  			</mat-list-item>
		</mat-list>
	  </mat-grid-tile>

	  <mat-grid-tile>
	  	<mat-list>
	  		<mat-list-item>
  				<a routerLink="/results">
  					<img class="svgico" src="assets/img/svg/results.png" alt="image">
  				</a>
  			</mat-list-item>
  			<mat-list-item>
  				<a routerLink="/results"> Results </a>
  			</mat-list-item>
		</mat-list>
	  </mat-grid-tile>
	</mat-grid-list>
</mat-card>

<mat-card class="caro-card">
	<mat-card-content>
		<h3>News</h3>
		<p>Updated Jan 11 2019 17:11</p>
		<mat-divider></mat-divider>
	
		<mat-list>
			<h4><a href="#">Request To Update Sponsoring Gurdian Details</a></h4>
			<p>Final Year Students To Check Correct Arrangement And Spelling of Their Names</p> 
			<mat-divider></mat-divider>
		</mat-list>
		<mat-list>
			<h4><a href="#">Online Evaluation of Courses & Teaching</a></h4>
			<p>Final Year Students To Check Correct Arrangement And Spelling of Their Names</p>
		</mat-list>
	</mat-card-content>
</mat-card>

<router-outlet></router-outlet>