.sidenav-container {
  height: 100%;
}
.mat-nav-list .mat-icon {
	color: grey;
}

.sidenav-span{
	padding-left: 20px
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 99;
  /*-moz-box-shadow: 1px 1px 5px #333;
  -o-box-shadow: 1px 1px 5px #333;
  box-shadow: 1px 1px 5px #333;*/
}

.spacer {
  flex: 1 1 auto;
}

.icon-v {
	margin-top: 2px;
	position: absolute;
}
.aligned-well {
	margin-left: 10px;
}